<div
  class="bg flex flex-col items-center gap-12 bg-primary text-white md:px-40 md:py-24 px-4 py-16"
>
  <h1 class="text-4xl md:text-6xl max-w-4xl text-center font-semibold">
    Revolutionize Your User Dashboard Experience
  </h1>

  <form class="w-full max-w-3xl">
    <label
      for="default-search"
      class="mb-2 text-sm font-medium text-gray sr-only"
      >Search</label
    >
    <div class="relative">
      <div
        class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
      >
        <svg
          class="w-4 h-4 text-dark"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
      </div>
      <input
        type="number"
        id="default-search"
        class="block w-full p-4 ps-10 text-sm text-dark border border-gray rounded-lg bg-gray focus:ring-tertiary focus:border-tertiary"
        placeholder="Search for users by id ..."
        [(ngModel)]="searchTerm"
        name="search"
        (input)="searchUser()"
        required
      />
      @if (searchResults.length > 0) {
      <div
        class="z-10 mt-4 bg-gray w-full rounded-lg absolute text-dark p-4 outline outline-1 -outline-offset-4 outline-tertiary"
      >
        @for (user of searchResults; track $index) {
        <a
          class="block hover:bg-light hover:text-secondary border-b border-b-1 border-tertiary p-2 cursor-pointer"
          [routerLink]="['/user', user.id]"
        >
          <p class="text-lg font-semibold">
            {{ user.first_name + " " + user.last_name }}
          </p>
          <p class="text-tertiary">ID: {{ user.id }}</p>
        </a>
        }
      </div>
      }
    </div>
  </form>
</div>
