<div class="h-full bg-white border border-gray rounded-lg shadow">
  <a [routerLink]="['/user', user.id]">
    <img
      class="h-96 w-full object-cover rounded-t-lg"
      [src]="user.avatar"
      [alt]="user.first_name + ' ' + user.last_name"
    />
  </a>
  <div class="p-5">
    <a [routerLink]="['/user', user.id]">
      <h5 class="mb-4 text-2xl font-bold tracking-tight text-dark">
        {{ user.first_name + " " + user.last_name }}
      </h5>
    </a>
    <a
      [routerLink]="['/user', user.id]"
      class="block mb-4 text-base text-tertiary"
    >
      {{ user.email }}
    </a>
    <a
      [routerLink]="['/user', user.id]"
      class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-primary rounded-lg hover:bg-secondary focus:ring-4 focus:outline-none focus:ring-secondary"
    >
      Read more
      <svg
        class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9"
        />
      </svg>
    </a>
  </div>
</div>
